@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    border: 1px solid black;
    height: 100vh;
    background-color: #ff33ee;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns>.row>.beat {
    margin: 2px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff5733, #a0a755, #33ff57, #337eff, #ff33ee, #ff5733);
    background-size: 1200% 100%;
    animation: gradientAnimation 40s ease infinite;
    width: 200px;
    height: 200px;
    gap: 30px;
    border: none;
    border-radius: 5px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.launchpad {
    text-align: center;
    font-size: 5rem;
    margin: 25px 0px;
    color: #ffffff;
    font-family: "Jersey 10", sans-serif;
}